@import '../variables';

// Source Code Pro
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.line {
  font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN',
    'ヒラギノ角ゴ ProN W3', Meiryo, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol' !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;

  .text {
    color: map_get($material-colors, 'blue-grey-800') !important;
  }

  // outermost, first child of .line
  // text.code-block
  .code-block {
    font-family: 'Source Code Pro', sans-serif !important;
    background: map_get($material-colors, 'grey-800') !important;

    // label like as "bash", "style.css"
    .code-block-start {
      color: map_get($material-colors, 'grey-100') !important;
      background: map_get($material-colors, 'grey-700') !important;
    }

    // normal code text
    .code-body {
      color: map_get($material-colors, 'grey-100') !important;
    }

    .hljs-comment {
      color: map_get($material-colors, 'grey-600') !important;
    }
  }

  // indent dot on line left side
  .indent-mark .dot {
    position: absolute;
    top: 14px;
    right: 8px;
    width: 6px;
    height: 2px;
    background-color: map_get($COLORS, 'line-indent-dot-color');
    border-radius: 50%;
  }

  a.page-link {
    &,
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: map_get($COLORS, 'page-link') !important;
      text-decoration: none;
    }
  }

  a.empty-page-link {
    &,
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: map_get($COLORS, 'empty-page-link') !important;
      text-decoration: none;
    }
  }

  // hash tag
  a[type='hashTag'] {
    $color: map_get($COLORS, 'hash-tag');
    $border: 1px solid $color;
    $font-size: map_get($font-size, 'bordered-tag');
    $color-hovered: map_get($COLORS, 'hash-tag-hovered');

    // "#"
    span:first-child {
      display: none;
    }

    &,
    &:link,
    &:visited,
    &:hover,
    &:active {
      display: inline-block;
      padding: 6px 2px;
      color: $color !important;
      transition: color 160ms map_get($easing, easeInOutCirc);
    }

    &:hover {
      color: $color-hovered !important;
    }
  }

  // show "#" on editing to visible cursor
  &.cursor-line {
    a[type='hashTag'] {
      span:first-child {
        display: inline !important;
      }
    }
  }
}
