<dialog>
  <div class="animation-container">
    <form method="dialog">
      <div id="checkboxContainer" class="checkbox-container"></div>
      <div class="input-container">
        <input id="tagInput" name="tagInput" type="text" />
        <!-- border effect -->
        <span class="focus-border"></span>
      </div>
      <menu class="button-container">
        <button value="cancel">Cancel</button>
        <!-- to avoid focusing input -->
        <button value="default" autofocus="true">Add</button>
      </menu>
    </form>
    <div class="loading-indicator-container">
      <i class="fa fa-cog fa-spin"></i>
    </div>
  </div>
</dialog>
