@import 'src/styles/variables';

my-tag-form-dialog {
  dialog {
    width: 80vw;
    min-height: 40vh;
    max-height: 80vh;
    padding: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    .tag-group {
      display: block;
      padding-bottom: 4px;
      margin-bottom: 12px;
      border-bottom: 1px solid map_get($material-colors, 'blue-grey-50');
    }

    /* used as layout container */
    form {
      display: flex;
      flex-direction: column;
      width: 80vw;
      min-height: 40vh;
      max-height: 80vh;
      padding: 24px 8px 8px 24px;
      overflow: scroll;
      border: none;

      /* input checkbox layout */
      & > div {
        flex: 1 1 auto;
      }

      /* buttons layout */
      & > menu {
        display: flex;
        flex: 0 1 auto;
        align-items: center;
        justify-content: flex-end;
      }
    }

    label {
      position: relative;
      display: inline-block;
      padding: 0 12px 0 24px;
      margin: 0 8px 12px 0;
      font: inherit;
      font-size: 14px;
      line-height: 32px;
      color: map_get($material-colors, 'grey-600');
      text-align: left;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
      background-color: #ffffff;
      border: 2px solid #c7c7c7;
      border-radius: 16px;
      transition: all 0.2s;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent;

      &:last-of-type {
        margin-right: 0;
      }
    }

    label::before {
      position: absolute;
      top: 50%;
      left: 8px;
      display: inline-block;
      padding: 0;
      margin-right: 8px;
      /* stylelint-disable-next-line */
      font-family: 'FontAwesome';
      font-size: 12px;
      font-style: normal;
      font-weight: 900;
      font-variant: normal;
      content: '\f067';
      opacity: 0.54;
      transition: transform 0.12s ease-in-out;
      transform: translate(0, -50%);
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }

    input[type='checkbox'] {
      display: none;
    }

    input[type='checkbox']:checked + label {
      color: #ffffff;
      background-color: #fb8c00;
      border-color: #fb8c00;
    }

    input[type='checkbox']:checked + label::before {
      content: '\f00c';
      transform: translate(0, -50%) rotate(-360deg);
    }

    button {
      position: relative;
      box-sizing: border-box;
      display: inline-block;
      min-width: 64px;
      padding: 0 16px;
      margin: 0;
      overflow: visible;
      font-family: Roboto, 'Helvetica Neue', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 36px;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      vertical-align: baseline;
      cursor: pointer;
      user-select: none;
      border: none;
      border-radius: 4px;
      outline: none;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      transform: translate3d(0, 0, 0);
      -webkit-tap-highlight-color: transparent;
    }

    button:not(:first-of-type) {
      margin-left: 8px;
    }

    button[value='cancel'] {
      color: #a7a7a7;
      background-color: #ffffff;
    }

    button[value='default'] {
      color: #ffffff;
      background-color: #fb8c00;
    }
  }
}
