$same-color-to-scrapbox-menu-icon: #363c48;

.sx-add-episode-button {
  margin-top: 8px;
  font-size: 12px;
  line-height: 2em;
  color: $same-color-to-scrapbox-menu-icon;
  background: none;
  border: 1px solid $same-color-to-scrapbox-menu-icon;
  border-radius: 4px;
}
