$same-color-to-scrapbox-menu-icon: #363c48;

.sx-add-episode-button {
  &.for-title-right {
    position: absolute;
    top: 12px; // to adjust to title text mid line
    right: 0;
  }

  &.for-editor-bottom {
    margin-top: 8px;
  }

  background: none;
  border: 1px solid $same-color-to-scrapbox-menu-icon;
  border-radius: 4px;
  font-size: 12px;
  color: $same-color-to-scrapbox-menu-icon;
  line-height: 2em;
}
