{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-recess-order"
  ],
  "rules": {
    "selector-type-no-unknown": [true, {
      "ignore": ["custom-elements"]
    }]
  }
}
