.line {
  .icon[alt='kou'] {
    display: inline-block;
    height: 1.6em;
    margin-right: 4px;
    vertical-align: text-bottom;
    border-radius: 6px;
  }

  // <hr>
  .icon[alt='-'] {
    position: absolute;
  }
}
