$shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

my-debug-board {
  position: fixed;
  right: 24px;
  bottom: 120px;
  z-index: 10000;
  display: flex;
  min-width: 300px;
  min-height: 200px;
  overflow: auto;
  box-shadow: $shadow;

  * {
    background: white;
  }
}
