@import 'variables';

$shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
$close-button-size: 30px;
$base-z-index: 10000;
$button-z-index: 10001;
$button-icon-color: #37474f;

$size: (
  'outermost-contair-min-width': 300px,
  'outermost-contair-max-width': 80vw,
  'outermost-contair-min-height': 200px,
  'outermost-contair-max-height': 72vh,
);

my-debug-board {
  position: fixed;
  right: 24px;
  bottom: 120px;
  z-index: $base-z-index;
  display: flex;
  min-width: map_get($size, 'outermost-contair-min-width');
  max-width: map_get($size, 'outermost-contair-max-width');
  min-height: map_get($size, 'outermost-contair-min-height');
  max-height: map_get($size, 'outermost-contair-max-height');
  padding: 8px;
  // for close button
  overflow: visible;
  background: white;
  box-shadow: $shadow;

  section {
    display: none;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: auto;

    // added when text is set
    &.-has-value {
      display: flex;
    }
  }

  div {
    display: none;
    flex: 1 1 auto;
    font-size: map_get($font-size, 'small');
    color: map_get($material-colors, 'blue-grey-700');
    white-space: pre;
    background: white;

    // added when text is set
    &.-has-value {
      display: block;
    }
  }

  .close-button {
    position: absolute;
    top: -8px;
    right: -4px;
    z-index: $button-z-index;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $close-button-size;
    height: $close-button-size;
    background: white;
    border: 0;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.48);
  }

  svg {
    fill: $button-icon-color;
  }
}
