$shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
$close-button-size: 30px;
$base-z-index: 10000;
$button-z-index: 10001;
$button-icon-color: #37474f;

my-debug-board {
  position: fixed;
  right: 24px;
  bottom: 120px;
  z-index: $base-z-index;
  display: flex;
  min-width: 300px;
  min-height: 200px;
  box-shadow: $shadow;

  div {
    overflow: auto;
    background: white;
  }

  .close-button {
    position: absolute;
    top: -8px;
    right: -4px;
    z-index: $button-z-index;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $close-button-size;
    height: $close-button-size;
    background: white;
    border: 0;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.48);
  }

  svg {
    fill: $button-icon-color;
  }
}
