@import 'variables';

.quick-launch .right-box .grid-size-range {
  display: none;
}

.line .quote {
  font-style: normal;
  background: #ffffff;
}

.line .meta {
  border-color: #ffffff;
}

.navbar-default {
  background-color: #e0e0e0;
}

.navbar-default .navbar-nav > li > a {
  color: #637282;
}

.grid li.page-list-item a {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.13);
}

.page {
  background-color: #ffffff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
}

form {
  border: 1px #ddd solid;
}

.page-list-item .description img.inline-icon {
  width: 100%;
  height: 100%;
}

/* トップに戻るリンク
 .quick-launch {
     margin-bottom: 15px;
     display: none;
 }
 */

.navbar .row .col-menu {
  width: 0%;
}

/* ↓新着以外のテロメアの色と太さ */
.line .telomere .telomere-border {
  width: 2px;
  background-color: #ffffff;
}

/* ↓新着のテロメアの色と太さ */
.line .telomere .telomere-border.unread {
  width: 5px;
  background-color: #ffffff;
}

/* スリムなテロメア */
.line .telomere .telomere-border,
.line .telomere .telomere-border.unread {
  box-sizing: content-box;
  border-color: #ffffff;
  transition: none;
}

.line .telomere .telomere-border:hover,
.line .telomere .telomere-border.unread:hover {
  box-sizing: border-box;
  width: auto;
  background-color: transparent;
  border-color: #8f9899;
}

.deco-\# {
  color: #000; /* 黒文字 */
  background-color: #ff0; /* 黄背景 */
}

.deco-\! {
  /* 重要な部分は!を付けると赤文字に */
  color: #ff0000;
}

/* 1. Scrapboxアイコンをバーガーアイコンに置き換え */
.navbar-brand img,
.navbar-brand span {
  display: none !important;
}
.navbar-brand::before {
  /* stylelint-disable-next-line */
  font-family: FontAwesome;
  font-size: 28px;
  color: #bbbbbb;
  content: '\f0c9';
}

/* 3-a. ヘッダー内のプロジェクトのページへのリンク ※要UserScript */
.col-brand .project-home {
  display: inline-block;
  max-width: calc(100% - 80px);
  margin: 16px 0 0 28px;
  overflow: hidden;
  font-size: 18px;
  color: #dddddd; /* リンクの色 */
  text-overflow: ellipsis;
  white-space: nowrap;
}
.col-brand .project-home:hover,
.col-brand .project-home:focus,
.col-brand .project-home:active {
  text-decoration: none;
  opacity: 0.6;
}
.col-brand .project-home .icon {
  margin-right: 10px;
  font-size: 0.9em;
}

/* マトリクス記法 */
.line:not(.cursor-line) .deco-\| {
  display: inline-flex;
}
.line .deco-\| img.image {
  object-fit: contain;
}

/* 太字記法と組み合わせて列数を変える */
.line [class^='level-'] .deco-\| {
  flex-wrap: wrap;
}

/* 並べた画像の間にスキマが欲しい場合はこの2行を追加・ぴっちり敷き詰めたい場合はこの2行は不要 */
.line .deco-\| > span,
.line [class^='level-'] .deco-\| > span {
  overflow: hidden;
}

.line .deco-\| img.image,
.line [class^='level-'] .deco-\| img.image {
  margin: 0.2em;
}

.line .level-1 .deco-\| > span {
  width: calc(100% / 1);
}
.line .level-2 .deco-\| > span {
  width: calc(100% / 2);
}
.line .level-3 .deco-\| > span {
  width: calc(100% / 3);
}
.line .level-4 .deco-\| > span {
  width: calc(100% / 4);
}
.line .level-5 .deco-\| > span {
  width: calc(100% / 5);
}

.line [class^='level-'] .deco-\| img.image {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
}

.navbar-form .dropdown.open .dropdown-menu {
  min-width: 100%;
  max-height: calc(100vh - 130px) !important;
  overflow-y: auto;
}

// 行頭のドットを薄く
.line .indent-mark .dot {
  top: 11px;
  width: 6px;
  height: 3px;
  background-color: #c9c9c9;
}

/* PC右上検索ボタン */
.search-form .form-group button .kamon {
  fill: #bbb;
}

.editor {
  /* stylelint-disable-next-line */
  font-family: 'NotoSansCJKjp', 'Roboto';
}
/* title */
.section-title.line-title {
  border: none;
}

/* section title and line next to title */
.section-title,
.line-title + .line {
  padding-top: 4px;
  border-top: 1px dashed #e9e9e9;
}

.us-colored-square-in-list-item {
  display: inline-block !important;
  padding: 4px;
  margin: 0 0 4px 0;
  font-size: 0.88em;
  line-height: 10px;
  color: map_get($COLORS, 'bordered-tag') !important;
  background: #fff;
  border: 1px solid map_get($COLORS, 'bordered-tag');
  border-radius: 2px;
}
