a[type='hashTag'] {
  // "#"
  span:first-child {
    display: none;
  }

  &,
  &:link,
  &:visited,
  &:hover,
  &:active {
    display: inline-block;
    padding: 4px 6px;
    margin: 8px 2px 8px 0;
    font-size: 0.88em;
    line-height: 16px;
    color: #f27e48 !important;
    background: #fff;
    border: 1px solid #f27e48;
    border-radius: 2px;
    transition: 0.24s;
  }

  &:hover {
    color: #ea692d !important;
    background-color: #ffe3d5;
  }
}
