#dialog-for-user-script {
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  max-height: 80vh;
  min-height: 40vh;
  overflow: hidden;
  padding: 0;
  width: 80vw;
}

/* used as layout container */
#dialog-for-user-script form {
  border: none;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  min-height: 40vh;
  overflow: scroll;
  padding: 24px 8px 8px 24px;
  width: 80vw;
}

/* input checkbox layout */
#dialog-for-user-script form > div {
  flex: 1 1 auto;
}

/* buttons layout */
#dialog-for-user-script form > menu {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-end;
}

#dialog-for-user-script label {
  font: inherit;
}

#dialog-for-user-script label {
  display: inline-block;
  background-color: #ffffff;
  border: 2px solid #c7c7c7;
  color: #a7a7a7;
  border-radius: 16px;
  white-space: nowrap;
  margin: 0 0 12px 0;
  line-height: 32px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
  padding: 0 12px 0 24px;
  cursor: pointer;
  position: relative;
  text-align: left;
  font-size: 14px;
  vertical-align: middle;
}

#dialog-for-user-script label {
  margin-right: 8px;
}

#dialog-for-user-script label:last-of-type {
  margin-right: 0;
}

#dialog-for-user-script label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'FontAwesome';
  font-weight: 900;
  font-size: 12px;
  margin: 0 0.6em 0 0;
  padding: 0;
  content: '\f067';
  transition: transform 0.12s ease-in-out;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0.72;
}

#dialog-for-user-script input[type='checkbox'] {
  display: none;
}

#dialog-for-user-script input[type='checkbox']:checked + label {
  background-color: #fb8c00;
  border-color: #fb8c00;
  color: #ffffff;
}

#dialog-for-user-script input[type='checkbox']:checked + label::before {
  content: '\f00c';
  transform: translate(0, -50%) rotate(-360deg);
}

#dialog-for-user-script button {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  outline: none;
}

#dialog-for-user-script button:not(:first-of-type) {
  margin-left: 8px;
}

#dialog-for-user-script button[value='cancel'] {
  background-color: #ffffff;
  color: #a7a7a7;
}

#dialog-for-user-script button[value='default'] {
  background-color: #fb8c00;
  color: #ffffff;
}
