@import 'variables';
@import 'base';
@import 'dialog';
@import 'icons';
@import 'my-console-button';
@import 'text';
@import './parts/for-list-layout/quick-launch';

.telomere {
  display: none !important;
}

/**
 * Apply only non-login (public) user.
 */
body:not(#{map_get($custom-css-class-names, 'apply-login-css-class')}) {
  .navbar-brand {
    display: none !important;
  }

  .project-home {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 10000 !important;
    width: 5em !important;
    height: 54px !important;
    padding-left: 16px !important;
    color: #ffffff !important;

    &::after {
      content: 'TOP';
    }

    .title {
      display: none;
    }
  }

  // file control menu in page
  .expandable-menu {
    display: none !important;
  }

  // add page button in page
  .quick-launch.layout-page {
    // cannot use display:none to visible .project-home
    height: 0 !important;
    margin: 0 !important;

    .new-button {
      display: none !important;
    }
  }
}

// the line of tags
.line.section-0:nth-of-type(2) {
  margin: -2px -0 12px !important;
  border-bottom: 2px solid map_get($material-colors, blue-grey-50) !important;
  border-radius: 2px !important;
}

// don't display related list in public project
// public project is not used as wiki
.related-page-list {
  display: none !important;
}

// layout:list
// main list items in index page
.page-list {
  $row-size: 104px;
  $img-size: 72px;
  $list-item-each-space: 8px;
  $list-item-inner-v-padding: 16px;
  $list-item-inner-h-padding: 12px;

  ul.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0px;

    li {
      width: 100%;
      height: $row-size;
      margin: $list-item-each-space 0 0;
      visibility: visible;

      &:first-of-type {
        margin-top: 0;
      }

      &.page-list-item a {
        $anim: 108ms map_get($easing, easeInOutCirc);
        transition: background-color $anim, box-shadow $anim, opacity $anim;

        &:hover {
          // TODO: adjust
          background-color: #ebf2ff;
          opacity: 0.96;
        }

        .hover {
          display: none;
        }

        .content {
          flex-direction: row;
          height: 100%;
        }

        .icon {
          order: 1;
          padding: 0;

          img {
            position: absolute;
            top: $list-item-inner-v-padding;
            left: $list-item-inner-h-padding;
            max-width: $img-size;
            max-height: $img-size;
          }
        }

        .header {
          order: 2;
          padding: $list-item-inner-v-padding $list-item-inner-h-padding
            $list-item-inner-v-padding $row-size;
          border: none;
        }

        .description {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  // page container
  .col-page {
    padding: 0 !important;
  }
}
