@import 'variables';
@import 'base';
@import 'dialog';
@import 'icons';
@import 'my-console-button';
@import 'text';
@import './parts/for-list-layout/quick-launch';

.telomere {
  display: none !important;
}

/**
 * Apply only non-login (public) user.
 */
body:not(#{map_get($custom-css-class-names, 'apply-login-css-class')}) {
  .navbar-brand {
    display: none !important;
  }

  .project-home {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 10000 !important;
    width: 5em !important;
    height: 54px !important;
    padding-left: 16px !important;
    color: #ffffff !important;

    &::after {
      content: 'TOP';
    }

    .title {
      display: none;
    }
  }

  // file control menu in page
  .expandable-menu {
    display: none !important;
  }

  // add page button in page
  .quick-launch.layout-page {
    // cannot use display:none to visible .project-home
    height: 0 !important;
    margin: 0 !important;

    .new-button {
      display: none !important;
    }
  }
}

// the line of tags
.line.section-0:nth-of-type(2) {
  margin: -2px -0 12px !important;
  border-bottom: 2px solid map_get($material-colors, blue-grey-50) !important;
  border-radius: 2px !important;
}

// don't display related list in public project
// public project is not used as wiki
.related-page-list {
  display: none !important;
}

@media (max-width: 767px) {
  // page container
  .col-page {
    padding: 0 !important;
  }
}
